body {
    text-align: center;
    background-color: #27496d;
}

h1 {
    margin-top: 10%;
    font-family: "Jost";
    font-size: 50pt;
    font-weight: bold;
    color: white;
}

.bolas-container {
    margin-top: 50px;
}

.bola {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #1fab89;
    padding: 20px;
}

.bl1 {
    vertical-align: auto;
}

.btn {
    margin-top: 5%;
}

.creditos {
    margin-top: 50px;
    color: white;
    font-family: "Ubuntu";
    font-size: 12px;
}