body {
    text-align: center;
    background-color: #303841;
}

h1 {
    margin-top: 10px;
    font-family: "Jost";
    font-size: 4.2rem;
    font-weight: bold;
    color: #eeeeee;
}

h2 {
    font-family: "Jost";
    font-size: 3.5rem;
    font-weight: bold;
    color: #eeeeee; 
}

p {
    font-family: "Jost";
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.trevo {
    margin-top: 30px;
    margin-bottom: 20px;
}

.bolas-container {
    padding: 25px;
    margin: auto;
}

.bolas {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    color: #eeeeee;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #3CB371;
    padding: 20px;
    margin: 5px;
    box-shadow: 2px 2px 8px black;
}

.bl1 {
    vertical-align: auto;
}

.btn {
    margin-top: 15px;
}

.creditos {
    margin-top: 50px;
    color: #eeeeee;
    font-family: "Jost";
}

.contato:hover {
    color: #eeeeee;
}