body {
    text-align: center;
    background-color: #444B54;
}

h1 {
    margin-top: 10px;
    font-family: "Jost";
    font-size: 4.2rem;
    font-weight: bold;
    color: #eeeeee;
}

h2 {
    font-family: "Jost";
    font-size: 3.5rem;
    font-weight: bold;
    color: #eeeeee; 
}

p {
    font-family: "Jost";
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sorteio {
    margin-top: 30px;
    margin-bottom: 20px;
}

.legend-title-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.legend-container {
    display: flex;
    justify-content: center;
}

.bolas-container {
    padding: 25px;
    margin: auto;
}

.bolas {
    font-family: "Jost";
    font-size: 2rem;
    font-weight: bold;
    color: #eeeeee;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #84C664;
    padding: 20px;
    margin: 5px;
    box-shadow: 2px 2px 8px black;
}

.bolas-mais {
    color: #3C3CCC;
}

.bolas-menos {
    color: #CC3C3C;
}

.bl1 {
    vertical-align: auto;
}

.btn {
    margin-top: 15px;
}

.footer-container {
    margin-top: 50px;
}

.trevo {
    width: 32px;
    height: 32px;
}

.creditos {
    color: #eeeeee;
    font-family: "Jost";
}

.contato:hover {
    color: #eeeeee;
}